<div class="row"> 
    <div class="col-sm-3" ></div> 
    <div class="col-sm-6" style="text-align: center;">
        <h2 >About</h2>
        <br>
        <p>Experienced Associate Software Engineer with a demonstrated history of working in the information technology and services industry. 
            Skilled in PHP, Angular , Angular Material , User Interface Design, JavaScript , MySQL and HTML. Strong engineering professional with a 
            Bachelor of Computer Science focused in Computer Science from University of Ruhuna , Matara Sri Lanka and currently a student at 
            Conestoga College , Waterloo ON Canada.</p>
        <br>    
    </div>
    <div class="col-sm-3" ></div> 
</div>