<div class="row">
<div class="col-sm-3"></div>        
<div class="col-sm-6">
  <h2 style="text-align: center;">Education</h2>
  <br>
  <ul class="list-group">
    <li class="list-group-item">Sep 2021 - Present<br>
      <b>Post Graduate Certification in Mobile Solutions Development</b><br>
      Conestoga College - Waterloo ON Canada
    </li>
    <li class="list-group-item">Feb 2015 - Feb 2018<br>
      <b>Bachelor of Computer Science</b><br>
      University of Ruhuna - Matara Sri Lanka
    </li>
    <li class="list-group-item">May 2019 - Aug 2011<br>
      <b>G.C.E.(Advanced Level) - Physical Science Stream</b><br>
      St.Anthony's Girls' College , Kandy Sri Lanka
    </li>
  </ul>
  <br>
  
</div>
<div class="col-sm-3"></div>
</div>