<div class="row">
<div class="col-sm-4"></div>        
<div class="col-sm-4" style="text-align: center;">
  <h2 >Skills</h2>
  <br>
  <h4>
    <span class="badge badge-primary">PHP</span>
    <span class="badge badge-secondary">Angular</span>
    <span class="badge badge-success">JavaScript</span>
    <span class="badge badge-danger">Laravel</span>
    <span class="badge badge-warning">NodeJS</span>
  </h4>
  <br>
  <h4>
    <span class="badge badge-info">ExpressJS</span>
    <span class="badge badge-light">AJAX</span>
    <span class="badge badge-dark">jQuery</span>
    <span class="badge badge-primary">MySQL</span>
    <span class="badge badge-secondary">HTML</span>
  </h4>
  <br>
  <h4>
    <span class="badge badge-success">Bootstrap</span>
    <span class="badge badge-danger">CSS</span>
    <span class="badge badge-warning">Rest API</span>
    <span class="badge badge-info">Java SE</span>
    <span class="badge badge-light">C#</span>
  </h4>
  <br>
  <h4>
    <span class="badge badge-dark">C</span>
    <span class="badge badge-light">Swift</span>
    <span class="badge badge-dark">Adobe XD</span>
  </h4>
</div>
<div class="col-sm-4"></div>
</div>