<div class="row">
<div class="col-sm-3"></div>        
<div class="col-sm-6">
  <h2 style="text-align: center;">Work Experince</h2>
  <br>
  <ul class="list-group">
    <li class="list-group-item">Sep 2017 - Jul 2021<br>
      <b>Software Engineer</b><br>
      Idea Group Limited , Colombo Sri Lanka
      <ul>
          <li>Researching, designing, implementing, and managing software development systems to 
                accomplish specific tasks in support of organizational objectives</li>
          <li>Working with team members to execute software development life cycle (SDLC)</li>
          <li>Cooperating with management and other departments to better understand their requirements 
                and developing software solutions to meet them</li>
          <li>Maintaining and upgrading existing systems improve its performance</li>
          <li>Testing existing software to find and fix bugs and issues</li>
          <li>Training users and leading junior team members</li>
      </ul>
    </li>
   
  </ul>
  <br>
  
</div>
<div class="col-sm-3"></div>
</div>